DB_HOST = "localhost"
DB_USERNAME = "root"
DB_PASSWORD = ""
DB_NAME="employee_db"
DB_PORT = 3306

USER_TOKEN_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCIOn5p4Y0BnbWFpbC5jb20iLCJpYXQiOjE2NjkwMTI0NTd9.qUUrwL-Of_x3FzI0456RFBRS6ityOmJ_t6D8e3TJipo"
 
PORT = 8080